body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game-container {
  height: 100vh;
  box-sizing: border-box;
}


.wordle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.line {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.letter-box {
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  caret-color: transparent;
  -webkit-user-select: none;
  /* Disable text selection */
  -webkit-user-select: none;
  /* Chrome, Safari, Opera */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version */
}

.letter-box::selection {
  color: initial;
  /* Set the text color to the default */
  background-color: transparent;
  /* Set the background color to transparent */
}

.letter-box:disabled {
  color: black;
}